<md-toolbar fxLayout="column" fxLayoutAlign="center center">
  <button md-button color="primary" (click)="stop()"><md-icon>stop</md-icon></button>
  <button md-button color="primary" (click)="play()"><md-icon>play_arrow</md-icon></button>
  <button md-button color="primary" (click)="next()"><md-icon>skip_next</md-icon></button>

  <button md-button color="primary" (click)="upload()"><md-icon>file_upload</md-icon></button>

  <input id="file" type="file" ng2FileSelect [uploader]="fileService.uploader" style="display: none">
  <label for="file" id="file-label" md-button><md-icon>attach_file</md-icon></label>

  {{ service.generations | async }}

</md-toolbar>
