<div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
  <div>
    <button *ngIf="fileService.uploader.queue.length > 0" (click)="upload()">Upload</button>
    <input id="file" type="file" ng2FileSelect [uploader]="fileService.uploader">
  </div>

  <button (click)="play()" [disabled]="!hasFile || playing">Play</button>
  <button (click)="next()" [disabled]="!hasFile">Next</button>
  <button (click)="stop()" [disabled]="!hasFile || !playing">Stop</button>

  <div>
    Generations: {{ service.generations | async }}
  </div>
</div>
